<?xml version="1.0" encoding="UTF-8" standalone="no"?><app_info>
    <versiyon>1</versiyon>
    <language>tr</language>
    <mode>normal</mode>

     <computer_id>1</computer_id>
     <name>Soner</name>
     <pc_name>msoner_pc</pc_name>
     <phone_brand>General Mobile 4G</phone_brand>
     <connect_id>UCBtS5</connect_id>

</app_info>